<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="dev,test,prod">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <logger name="org.apache" level="WARN"/>
        <logger name="org.springframework" level="INFO"/>
        <logger name="fi.vm" level="INFO"/>
        <logger name="fi.vm.yti.security" level="INFO"/>
    </springProfile>
    <springProfile name="local,docker">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <logger name="org.apache" level="WARN"/>
        <logger name="org.springframework" level="INFO"/>
        <logger name="fi.vm" level="DEBUG"/>
    </springProfile>
</configuration>
